.env
instances.json
.resources/Dockerfile
.resources/Dockerfile.*
!.resources/Dockerfile.template
.resources/dbconfigs/pg_hba.conf
.resources/nginx_configs/generated.conf
docker-compose.generated.yml
**/.vscode/
*.code-workspace
*antigractivy*
venv
__pycache__
.atl/
.windsurf/
.ignore
.DS_Store
openspec
.codegraph